* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  background-color: #f5f5f5;
}
#payments {
  margin: 0 8vw;
}
#payments h3 {
  text-align: left;
  font-size: 1.25rem;
  color: #575757;
  margin: 8vw 0;
  font-weight: 400;
}
table {
  width: 100%;
  padding: 4.875vw 8vw;
  background-color: white;
  border: 1px solid #7070706b;
  border-radius: 20px;
  border-collapse: separate;
}
th {
  font-weight: 500;
}
th,
td {
  padding: 3.125vw 0;
  border-bottom: 1px solid #7070706b;
  font-size: 0.9rem;
  color: #575757;
  text-align: center;
}
.amount {
  display: none;
}
table a {
  text-align: center;
  display: block;
  background-color: #37d187;
  color: white;
  padding: 1.75vw;
  border-radius: 20px;
  border: none;
}
@media screen and (min-width: 769px) {
  #payments {
    max-width: 1155px;
    margin-top: 3.125vw;
    width: 60%;
    margin-left: 3vw;
    margin-right: 6.25vw;
    text-align: center;
  }
  #payments h3 {
    font-size: 1.5rem;
    margin: 3.125vw 0;
    font-weight: 500;
  }
  table {
    padding: 1.8vw 3.125vw;
  }
  th {
    font-weight: 500;
  }
  th,
  td {
    padding: 1vw 0;
    font-size: 1.1rem;
  }
  .amount {
    display: table-cell;
  }
  table a {
    padding: 0.75vw;
  }
}
