<div id="my_email_modal" class="modal">
    <div class="modal_content">
        <h3>Contactanos vía e-mail</h3>
        <a href="#">Consulta administrativa</a>
        <a href="#">Consulta académica</a>
        <a href="#">Consulta general</a>
    </div>
</div>
<div id="my_whatsapp_modal" class="modal">
    <div class="modal_content">
        <h3>Contactanos vía Whatsapp</h3>
        <a href="#">Consulta administrativa</a>
        <a href="#">Consulta académica</a>
        <a href="#">Consulta general</a>
    </div>
</div>