<footer>
    <p id="contact_us">Contactanos ante cualquier duda</p>
    <section id="contact_icons">
        <a href="#" id="my_btn_one"><i class="fa-solid fa-envelope"></i></a>
        <a href="#" id="my_btn_two"><i class="fa-brands fa-whatsapp"></i></a>
    </section>
</footer>
<script src="/js/contactModals.js"></script>