<header>
    <figure id="logo">
        <a href="#"><img src="/images/Líder Coach Isologotipo - Blanco (1).svg"></a>
    </figure>
    <nav id="main_menu">
        <div id="notifications_bell">
            <i class="fa-solid fa-bell"></i>
            <i class="fa-solid fa-circle"></i>
        </div>
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-xmark"></i>
        <figure id="profile_photo">
            <a href="#"><img src="/images/default_pofile.jpg"></a>
        </figure>
            <a href="#"><i class="fa-solid fa-right-from-bracket"></i></a>
    </nav>
    <nav id="mobile_menu">
        <ul>
            <li>
                <a href="#">Calendario</a>
            </li>
            <li>
                <a href="#">Perfil</a>
            </li>
            <li>
                <a href="#">Pagos</a>
            </li>
            <li>
                <a href="#">Bienvenida</a>
            </li>
            <li>
                <a href="#">Cerrar sesión</a>
            </li>
        </ul>
    </nav>
    <script src="/js/burguerMenu.js"></script>
</header>
<%-include("./notifications")%>
<script src="/js/notifications.js"></script>