<div id="notifications">
    <h4>Notificaciones</h4>
    <ul>
        <% for (let i =0 ; i < 3; i++){%>
            <li>
                <h5>Titulo de la notificaci칩n</h5>
                <p>Peque침a descripci칩n de la notificaci칩n</p>
            </li>
        <%}%>
    </ul>
</div>