<div id="profile_pc">
    <figure id="profile_photo_pc">
        <img src="/images/default_pofile.jpg">
    </figure>
    <ul>
        <li>
            <a href="#">Mi Información</a>
        </li>
        <li>
            <a href="#">Mis pagos</a>
        </li>
        <li>
            <a href="#">Bienvenida</a>
        </li>
</div>