<%-include("./includes/head")%>
<body>
    <%-include("./includes/header")%>
    <%-include("./includes/contactModals")%>
    <section id="class_info">
        <figure>
            <img src="/images/Cursos Act 2020 Oratoria Liberati-02.png">
        </figure>
        <div id="class_main_info">
            <h2>Titulo del curso</h2>
            <h5>By Alguien</h5>
        </div>
        <h4 id="pc_price">$6000 ARS  |  $65 USD </h4>
        <p>El Coaching Deportivo es un proceso de entrenamiento y aprendizaje, que tiene como meta despertar el talento y los recursos del deportista, entrenador o dirigente. Su objetivo es el de potenciar al máximo su rendimiento, estableciendo un plan de acción con metas y objetivos que se traducirán en éxitos deportivos, una vez eliminados los obstáculos internos. Para lograr los objetivos que plantea, trabaja desde la motivación, conciencia y compromiso con el programa y sus intervenciones.
            La Especialización de Coaching Deportivo es una cursada avalada por la International Coach Federation como Continuing Coach Education (CCE) ofreciendo 22 créditos de educación continua y avanzada.</p>
        <h4 id="mobile_price">$6000 ARS  |  $65 USD </h4>
        <a href="#">Comprar</a>
        </section>
    <%-include("./includes/footer")%>
</body>
</html>