<%-include("./includes/head")%>
<body>
    <section>
        <figure>
            <img src="/images/written_logo.svg" id="writtem_logo">
        </figure>
        <h2>Tu sesión ha caducado vuelve a ingresar</h2>
        <a href="/log-in"><button>Volver a Ingresar</button></a>
    </section>
</body>
</html>