<%-include("./includes/head")%>
<body>
    <section>
        <figure>
            <img src="/images/written_logo.svg" id="writtem_logo">
        </figure>
        <h2>Inicia sesión</h2>
        <form action="#" method="POST" id= "form_log_in">
            <input required type="email" name="email" id="email" placeholder="Usuario o E-mail" > 
            <input required type="password" name="password" id="password" placeholder="Contraseña" > 
            <p>Olvidaste tu contraseña?</p>
            <button type="submit">Ingresar</button>
        </form>
        <p>o continua con</p>
        <article id="social_media">
            <div id="facebook">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            </div>
            <div id="gmail">
                <a href="#"><i class="fa-brands fa-google"></i></a>
            </div>
        </article>
    </section>
</body>
</html>