<%-include("./includes/head")%>
<body>
    <section>
        <figure>
            <img src="/images/written_logo.svg" id="writtem_logo">
        </figure>
        <h2>Recupera tu Contraseña</h2>
        <form action="#" method="POST" id= "form_log_in">
            <input required type="text" name="username" id="username" placeholder="Usuario" >
            <p>o continua con</p>
            <input required type="email" name="email" id="email" placeholder="E-mail" > 
            <button type="submit">Recuperar</button>
        </form>
    </section>
</body>
</html>